
.left
{
text-align:left;
margin-left:0px;

}
.right
{
text-align:right;

margin-right:0px;
}
.right-up
{

text-align:right;
margin-top:-50px;
margin-right:0px;
}
.right-up-big-button
{
	height= 50pt;
font-size:40pt;
margin-left:400px;
margin-top:-50px;
margin-right:0px;
}
.middle
{
	
text-align:center;
}